html, body {
  height: 100%;
}

body {
  background-color: #e9ecef;
}

#jumbotron-index {
  margin-top: 56px; /* espaço para top navbar */
  margin-bottom: 0px;
  height: 420px;
  color: white;
  background-image: url("../img/soccer-field2.jpg");
  background-size: cover;
}

#jumbotron-index-text {
  margin: 10px 0px;
  height: 300px;
  padding: 0px;
}

#jumbotron-index-text .jumbotron {
  margin-bottom: 0px;
  height: 280px;
  padding: 2rem 0rem;
}

#jumbotron-index-form {
  height: 500px;
  color: white;
  background-image: url("../img/soccer-field.jpg");
  background-size: cover;
}

footer {
  margin-bottom: 20px;
}

#logo-wrapper {
  height: 200px !important;
}

#card-desempenho {
  min-height: 70%;
}

.pane {
    display: inline-block;
    overflow-y: scroll;
    max-height:500px;
}

.sem-sombra {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.12);
}
