html, body {
  height: 100%;
}

body {
  background-color: #e9ecef;
}

#jumbotron-index {
  margin-top: 56px; /* espaço para top navbar */
  margin-bottom: 0px;
  height: 420px;
  color: white;
  background-image: url("../img/soccer-field2.jpg");
  background-size: cover;
}

#jumbotron-index-text {
  margin: 10px 0px;
  height: 300px;
  padding: 0px;
}

#jumbotron-index-text .jumbotron {
  margin-bottom: 0px;
  height: 280px;
  padding: 2rem 0rem;
}

#jumbotron-index-form {
  height: 500px;
  color: white;
  background-image: url("../img/soccer-field.jpg");
  background-size: cover;
}

footer {
  margin-bottom: 20px;
}

#logo-wrapper {
  height: 200px !important;
}

#card-desempenho {
  min-height: 80%;
}
