{% extends "inner-template.html" %}

{% block content %}

<div class="card">
  <div class="card-body">
    <div class="container wow fadeIn" data-wow-delay="0.2s">
      <div class="row">
        <div class="col-md-6">
          <div class="row text-center d-flex align-items-center py-3 px-4">
            <div class="col-12">
              <!-- Content -->
              <h2 class="green-text">Contato</h2>
              <!-- Form -->
              <form class="text-center" style="color: #757575;" method="post" action="{{ url_for('contato') }}">

                  <!-- Name -->
                  <div class="md-form mt-3">
                      <input type="text" name="assunto" id="assunto" class="form-control" maxlength="50">
                      <label for="assunto">Assunto</label>
                  </div>

                  <!--Message-->
                  <div class="md-form">
                      <textarea name="msg" type="text" id="materialContactFormMessage" class="form-control md-textarea" rows="3" maxlength="500"></textarea>
                      <label for="materialContactFormMessage">Mensagem</label>
                  </div>

                  <!-- Send button -->
                  <button class="btn btn-success z-depth-0 my-4 waves-effect" type="submit">Enviar</button>

              </form>
              <!-- Form -->
              <ul class="list-unstyled">
                <li><i class="fa fa-phone"></i> (49) 9 9123 4567</li>
                <li><i class="fa fa-phone"></i> (49) 3123 4567</li>
              </ul>
              <p>Você pode entrar em contato por telefone, WhatsApp ou pelo formulário dessa página :)</p>
              <hr />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-12 pane">
            {% if msgs: %}
            <h4>Histórico de mensagens enviadas</h4>
            <table class="table table-striped">
              {% for msg in msgs: %}
                <tr>
                  <td>
                    <h5>{{ msg.assunto }}</h5>
                    <small>{{ msg.data.strftime('%H:%M %d/%m/%y') }}</small>
                    <p>{{ msg.mensagem }}</p>
                  </td>
                </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
