{% extends "inner-template.html" %}

{% block content %}

  <div class="card wow fadeIn" data-wow-delay="0.2s" id="card-desempenho">
    <div class="card-body">
      <h5 class="card-title">Analisador de Desempenho Tático</h5>
      <div class="row">
        <div class="col-5">
          Estatísticas Disponíveis
          <table class="table table-hover">
            <tbody>
              {% for te in tipos_estatistica: %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ te.nome }}</td>
                <td><a class="blue-text">Detalhar <i class="fa fa-info-circle"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-2">
        </div>

        <div class="col-5">
          Mapa de calor
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Grafite</td>
                <td>22km/h <i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr>
                <td>Walter Branco</td>
                <td>22km/h <i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr>
                <td>Pablo Escobar</td>
                <td>22km/h <i class="fa fa-arrow-right"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
