{% extends "inner-template.html" %}

{% block content %}

  <div class="card wow fadeIn" data-wow-delay="0.2s" id="card-desempenho">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <h5 class="card-title">Analisador de Desempenho Técnico</h5>

          <form action="{{ url_for('pg_desempenho_tecnico') }}" method="post">
            <div class="form-group">
              <label for="id_tipo_estatistica">Estatísticas disponíveis: </label>
              <select class="form-control mx-sm-3" id="id_tipo_estatistica" name="id_tipo_estatistica">
                {% for te in tipos_estatistica: %}
                  <option value="{{ te.id }}" {% if id_tipo_estatistica==te.id %} selected {% endif %}>
                    {{ te.nome }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="id_jogo">Jogo: </label>
              <select class="form-control mx-sm-3" id="id_jogo" name="id_jogo">
                {% for jogo in jogos: %}
                  <option value="{{ jogo.id }}" {% if id_jogo == jogo.id: %} selected {% endif %}>
                  {% if jogo.local == 1: %}
                    {{ jogo.time.nome }} {{ jogo.placar_time }} X {{ jogo.placar_adversario }} {{jogo.adversario.nome}}
                  {% else %}
                    {{ jogo.adversario.nome }} {{ jogo.placar_adversario }} X {{ jogo.placar_time }} {{jogo.time.nome}}
                  {% endif %}
                  </option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-success z-depth-0 my-4 waves-effect">Detalhar</button>
          </form>
        </div>

        <div class="col-1">
        </div>

        <div class="col-md-6">
          {% if estatisticas: %}
          <h5 class="card-title">
            {% if estatisticas[0].jogo.local == 1: %}
              {{ estatisticas[0].jogo.time.nome }} {{ estatisticas[0].jogo.placar_time }}
              X
              {{ estatisticas[0].jogo.placar_adversario }} {{estatisticas[0].jogo.adversario.nome}}
            {% else %}
              {{ estatisticas[0].jogo.adversario.nome }} {{ estatisticas[0].jogo.placar_adversario }}
              X
              {{ estatisticas[0].jogo.placar_time }} {{estatisticas[0].jogo.time.nome}}
            {% endif %}
          </h5>
          <strong>{{ estatisticas[0].tipo_estatistica.nome }}</strong>
          <canvas id="chartEstatisticas" width="600" height="400"></canvas>
          <table class="table table-hover">
            <tbody>
              {% for e in estatisticas: %}
              <tr>
                <td>{{ e.jogador.nome }}</td>
                <td>
                  {{ e.quantidade }}
                  {% if e.tipo_estatistica.unidade_medida != None: %}
                  {{ e.tipo_estatistica.unidade_medida }}
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <script>
    var data = {
      datasets: [{
        data: [
          {% for val in chart.values %}
            {{ val }},
          {% endfor %}
        ],
        backgroundColor: [
          {% for col in chart.colors %}
            '{{ col }}',
          {% endfor %}
        ],
        borderColor: [
          {% for col in chart.colors %}
            '{{ col }}',
          {% endfor %}
        ],
      }],
      labels: [
        {% for lab in chart.labels %}
          '{{ lab }}',
        {% endfor %}
      ],
    }
    var ctx = document.getElementById('chartEstatisticas').getContext('2d');
    var pieChart = new Chart(ctx, {
      type: 'pie',
      data: data,
      options: []
    });
  </script>

{% endblock %}
