<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sports Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/sportsanalyzer.jpeg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
            Sports Analyzer
          </a>
          <form class="form-inline">
            <button class="btn btn-secondary" type="button">Acessar</button>
          </form>
        </div>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer class="footer">
        {% block footer %}
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 text-right">
              <ul class="list-group">
                <li class="list-group-item">Copyright &copy; 2018 Sports Analyzer</li>
                <li class="list-group-item">(49) 99999 9999</li>
                <li class="list-group-item">@sports.analyzer</li>
              </ul>
            </div>
            <div class="col-6">
              <img src="{{ url_for('static', filename='img/sportsanalyzer.jpeg') }}" width="175" height="200">
            </div>
          </div>
        </div>
        {% endblock %}
    </footer>
  </body>
</html>
