<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sports Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('pg_index') }}">
            <img src="{{ url_for('static', filename='img/sportsanalyzer.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Sports Analyzer">
            Sports Analyzer
          </a>
          <form class="form-inline">
            <button class="btn btn-dark d-none d-md-block" type="button" data-toggle="modal" data-target="#loginModal">Acessar</button>
            <button class="btn btn-dark btn-sm d-md-none" type="button" data-toggle="modal" data-target="#loginModal">Acessar</button>
          </form>
        </div>
      </nav>
      {% endblock %}
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="footer-copyright fixed-bottom">
        <div class="container">
          <ul class="list-unstyled">
          {% for category, message in messages %}
            <li>
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    {% endwith %}

    <footer class="footer">
        {% block footer %}
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 text-right">
              <ul class="list-unstyled">
                <li><strong>Copyright &copy; 2018 Sports Analyzer</strong></li>
                <li>(49) 99999 9999</li>
                <li>@sports.analyzer</li>
              </ul>
            </div>
            <div class="col-6">
              <img src="{{ url_for('static', filename='img/sportsanalyzer.png') }}" width="175" height="200">
            </div>
          </div>
        </div>
        {% endblock %}
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
    <script>
         // SideNav Initialization
        $(".button-collapse").sideNav();
        new WOW().init();
    </script>
  </body>
</html>
